{% if site.footer_fixed %}
<footer class="fixed-bottom">
  <div class="container mt-0">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{
    site.middle_name }} {{ site.last_name }}. {{ site.footer_text }} {%- if
    site.impressum_path -%}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}"
      >Impressum</a
    >. {%- endif -%} {%- if site.last_updated -%} Last updated: {{ "now" | date:
    '%B %d, %Y' }}. {%- endif %}
  </div>
</footer>
{%- else -%}
<footer class="sticky-bottom mt-5">
  <div class="container">
    <nav class="nav">
      <a class="nav-link" href="/Home">Home</a>
      <a class="nav-link" href="/Blog">Blog</a>
      {%- assign sorted_pages = site.pages | sort: "title" -%}
              {%- for p in sorted_pages -%}
              {%- if p.nav and p.autogen == nil -%}
      <li class="nav-item {% if page.title == p.title %}active{% endif %}">
        <a class="nav-link" href="{{ p.url | relative_url }}">{{ p.title }}
          {%- if page.title == p.title -%}
          <span class="sr-only">(current)</span>
          {%- endif -%}
        </a>
      </li>
      {% endif %}
      {% endfor -%}
    </nav>
  </div>
</footer>
{%- endif %}
